body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:12px;
}

header li{
 float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:0px auto;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

#boxes{
  margin-top:20px;
  background:#35424a ;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

#copy{
padding:20px;
  margin-top:50px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

h3{
color:#ffffff;
}
pre{
	color: #e8491d;
}

#col{
color:black;
font-family:tahoma;
}

#showcase{
  min-height:600px;
  background:url('showcase.jpg') no-repeat 0 -600px;
  text-align:center;
  color:#ffffff;

}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

#div1{
border-top:none;
border-right:none;
border-bottom:none;
}




div#first {
	width: 350px;
	height:auto;
	margin: 50px auto 0; 
	padding: 50px;
	background-color: #EEE;
	color: 	#333333;
	border: 2px solid #C2D6FF;  
	border-radius: 40px 40px 40px 40px;
}

label {  
	font-size: 15px;
	font-weight: bold;
}

input#fname { 
	background-image: url('../images/icon_name.png');
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px; 
	height: 30px; 
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow:  0 0 10px;	/* for I.E */
	-moz-box-shadow: 0 0 10px;	/* for Mozilla web browser*/
	 border-radius: 5px;
	-webkit-border-radius: 5px;	/* for I.E */
	-moz-border-radius: 5px; 	/* for Mozilla web browser*/
}

input#email { 
    background-image: url('../images/email.png');
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px; 
	height: 30px; 
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow:  0 0 10px;	/* for I.E */
	-moz-box-shadow: 0 0 10px;	/* for Mozilla web browser*/
     border-radius: 5px;
	-webkit-border-radius: 5px;	/* for I.E */
	-moz-border-radius: 5px;	/* for Mozilla web browser*/
}

input#contact { 
	background-image: url('../images/mobile.png');
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 30px; 
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow:  0 0 10px;	/* for I.E */
	-moz-box-shadow: 0 0 10px;	/* for Mozilla web browser*/
	border-radius: 5px;
	-webkit-border-radius: 5px;	 /* for I.E */
	-moz-border-radius: 5px;	/* for Mozilla web browser*/
}

input#address {   
    background-image: url('../images/home.png');
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px; 
	height: 30px; 
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow:  0 0 10px; /* for I.E */
	-moz-box-shadow: 0 0 10px;  /* for Mozilla web browser*/
	border-radius: 5px;
	-webkit-border-radius: 5px;  /* for I.E */
	-moz-border-radius: 5px;	/* for Mozilla web browser*/
}

input#submit {
	background-color:#cc7a66 ;
    border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
	margin-left:120px;
}

input#submit:hover {
	background-color:	#FF9980;		  
}

.btn{
background:  #e8491d;
box-shadow: inset 0px 1px 0px 0px #7bdcf4;
border: 1px solid #e8491d ;
color: #ffffff;
font-size: 19px;
font-weight: bold;
cursor: pointer;
text-shadow: 0px 1px 0px #13506D;
width: 90px;
height: 30px;
border-radius:8px;
}

.btn:hover{
background-color:white;
color:#e8491d;
}

#li{display: inline-block;}

.dropmenu, .dropdown{display:inline-block;}
	
.dropdown:hover .dropdown-content{display:block;}
.dropdown-content{display:none; position:absolute;}
.dropdown-content a{display:block;}

#content{background:#35424a; 
color: #e8491d;
padding:10px;
}

#content:hover{
background:white;
color:#35424a;
}


.animate{
font-family:Tahoma;
color:#e8491d;
}

